@using InzertniServer.Models
@model IEnumerable<InzertniServer.Models.Listing>

@{
    ViewBag.Title = "Index";
}

<br />
@using (Html.BeginForm("SearchFilter", "Home", FormMethod.Get))
{
    <div class="col-lg-12 text-center">
        <div class="form-inline">
            @Html.TextBox("SearchQuery", null, new { @class = "form-control" })
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
        <br />
    </div>

    <br />
}

<div class="col-lg-12 text-center">
    <div class="form-inline">
        @if (ViewBag.Categories != null)
        {
            foreach (Category cat in ViewBag.Categories)
            {
                if (ViewBag.currentCategoryId != null && ViewBag.currentCategoryId.Equals(cat.CategoryId))
                {
                    <a class="btn btn-info" href="@Url.Action("SearchFilter", "Home", new{id=cat.CategoryId, searchString=ViewBag.currentSearchString})">@cat.CategoryName</a>
                }
                else
                {
                    <a class="btn btn-default" href="@Url.Action("SearchFilter", "Home", new{id=cat.CategoryId, searchString=ViewBag.currentSearchString})">@cat.CategoryName</a>
                }

            }
        }

        @if (ViewBag.currentCategoryId != null || ViewBag.currentSearchString != null)
        {
            <a class="btn btn-warning pull-right" href="@Url.Action("Index")">Delete Filter</a>
        }
        <hr />
    </div>
</div>



<table class="table table-hover">
    <tr>
        <th>
            Listing Name
        </th>
        <th>
            Listing Description
        </th>
        <th>
            Price
        </th>
        <th>
            Area
        </th>
        <th>
            Category
        </th>
        <th>
            Listed By
        </th>
        <th></th>
    </tr>

    @foreach (var listing in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(listing.ListingTitle, "ListingDetail", "Listing", new { id = listing.ListingId }, null)
            </td>
            <td>
                <div class="ellipsis">
                    @Html.DisplayFor(modelItem => listing.ListingDescription)
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => listing.ListingPrice) €
            </td>
            <td>
                @Html.DisplayFor(modelItem => listing.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => listing.Category.CategoryName)
            </td>
            <td>
                @Html.ActionLink(listing.User.Login, "UserDetail", "User", new { id = listing.User.UserId }, new { @class = "btn btn-xs btn-default" })
            </td>
        </tr>
    }

</table>

@if (!Model.Any())
{
    <div class="text-center alert alert-warning">ERROR 404 NO LISTINGS FOUND !!!</div>
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@
